LineEnding: LF
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
UseTab: Never
SortIncludes: Never
SpaceAfterCStyleCast: true
IndentCaseLabels: false
IndentGotoLabels: false
InsertBraces: true
InsertNewlineAtEOF: true
AllowShortEnumsOnASingleLine: true

PointerAlignment: Left

BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterObjCDeclaration: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
